.click-notify-xurl {
    position: absolute; z-index: 999; top: 25%; left: 34%;;
}
.ui.button.right.floated{
    text-align: right;
}
.ui.button.left.floated{
    text-align: left;
}

.video-view {
    width: 100%;
    height: 314px;
}

.white {
    color: #ffffff;
}

/* new css */ 
.MR10 { 
    margin-right: 10px !important; 
} 
.courseheader { 
    background: #3449d2 !important; 
    padding-top: 25px;
    padding-bottom: 15px;
    margin: 10px 0; 
    color: #ffffff; 
    font-family: 'sunbirdregularfont'; 
} 
 
.courseheader .label, .courseheader .label:hover { 
    background: rgba(255,255,255,0.5) !important; 
    font-weight: normal; 
    border-color: rgba(255,255,255,0.5) !important; 
    margin-right: 20px; 
    vertical-align: bottom; 
    cursor: context-menu; 
    font-family: 'sunbirdregularfont'; 
} 
.courseheader .lgtext { 
    font-size: 22px; 
} 
.courseheader .smtext { 
    font-size: 13px; 
} 
.customiconbtn {
    padding:12px 2px 3px 3px !important;
}
.iconimg {
    vertical-align: text-bottom;
    margin-right: 5px;
}
.ui.basic.blue.button {
    background: transparent !important;
} 
.ui.large.header {
    color: #495cd6!important;
}
.nextprevcourse {
    background: transparent !important;
    font-size: 18px;
    vertical-align: middle;
    border: 0;
}
.customicon {
    font-size: 24px !important;
    padding: 10px !important;
}
.ui.attached.menu:not(.tabular) {
    border-top: 1px solid #eeeeee !important;
    border-bottom: 0 !important;
}
.pushable {
    background: #eeeeee;
}

.ui.left.visible.sidebar, .ui.right.visible.sidebar {
    box-shadow: 0px 1px 8px 0px rgba(34,36,38,.15) !important;
    border: 1px solid #eeeeee !important;
}
.ui.sidebar {
    overflow-x: hidden !important;
}
.infobox {
    border-left: 1px solid #cccccc;
    color: #888888;
    font-weight: normal;
}

.margin-top--10px {
    margin-top: -10px;
}