<div class="ui stackable grid margin-top-20" [appTelemetryStart]="telemetryCourseStart" [appTelemetryEnd]="telemetryCourseEndEvent">
  <div class="one wide column"></div>
  <div class="ten wide column">
    <div *ngIf="!loader">
      <div class="content" [appTelemetryImpression]="telemetryCourseImpression">
        <div class="ui stackable grid">
          <div class="row">
            <div class="nine wide column" *ngIf="!enrolledCourse">
              <div class="ui header">
                <span class="content courseStructureHeading">
                  {{resourceService.frmelmnts.lbl.coursestructure}}
                </span>
              </div>
              <app-collection-tree (contentSelect)="navigateToContent($event)" [nodes]="collectionTreeNodes" [options]="collectionTreeOptions"
                [contentStatus]="contentStatus"></app-collection-tree>
              <!-- <div class="ui fitted divider margin-bottom-20 margin-top-30"></div> -->
              <!-- <app-course-discussions></app-course-discussions> -->
            </div>
            <div class="four wide column" *ngIf="enrolledCourse">
              <div class="ui header">
                <span class="content courseStructureHeading">
                  {{resourceService.frmelmnts.lbl.coursestructure}}
                </span>
              </div>
              <app-collection-tree (contentSelect)="navigateToContent($event)" [nodes]="collectionTreeNodes" [options]="collectionTreeOptions"
                [contentStatus]="contentStatus"></app-collection-tree>
              <!-- <div class="ui fitted divider margin-bottom-20 margin-top-30"></div> -->
              <!-- <app-course-discussions></app-course-discussions> -->
            </div>
            <div class="eight wide column" *ngIf="enrolledCourse">
              <div class="ui grid">
                <div class="row">
                  <div class="twelve wide column">
                    <div id="app-player-collection-renderer">
                      <!-- <div class="twelve wide column">
                                                            <span class="ui HomeAccordianHeading left floated header">{{contentTitle}}</span>
                                                            <h5 appTelemetryInteract [telemetryInteractEdata]="closeContentIntractEdata"
                                                                [telemetryInteractObject]="contentInteractObject" class="ui right floated basic icon circular button margin-auto mouse-pointer"
                                                                (click)="closeContentPlayer()">
                                                                <i class="ui remove icon"></i>
                                                            </h5>
                                                        </div> -->
                    </div>
                    <div class="ui card video-view" *ngIf="showExtContentMsg">
                      <div class="ui header">
                        Requested notebook is opening in new tab...
                      </div>
                    </div>
                    <div class="ui grid" *ngIf="!showExtContentMsg && isVideoContent">
                      <div class="twelve wide column" [appTelemetryImpression]="telemetryContentImpression">
                        <!-- <app-player (contentProgressEvent)="contentProgressEvent($event)" class="content-player" [playerConfig]="playerConfig"
                                                                ></app-player> -->
                        <!-- <div [innerHtml]="iframe_html"></div> -->
                        <youtube-player [videoId]="videoContentId" [width]="'100%'" [height]="'400'"></youtube-player>

                      </div>
                      <!-- <div *ngIf="showExtContentMsg">
                              <div class="ui stackable grid">
                                Notebook opened in new tab.
                              </div>
                            </div> -->
                    </div>
                  </div>
                </div>
                <div class="ui row" *ngIf="prevPlaylistItem?.title || nextPlaylistItem?.title">
                  <div class="six wide column ">
                    <button class="ui blue button left floated fluid tocbutton toc-left-nav-btn-content" (click)="navigateToContent(prevPlaylistItem)"
                      [disabled]="prevPlaylistItem === undefined">
                      <span class="header">{{resourceService.frmelmnts.btn.previous}}</span>
                      <br />
                      <span class="font-white description text-ellipsis" title="{{prevPlaylistItem?.title || noContentToPlay}}">{{prevPlaylistItem?.title
                        || noContentToPlay}}</span>
                    </button>
                  </div>
                  <!-- <div class="two wide column center aligned" ng-if="toc.showNoteInLecture"> -->
                  <!-- <h2 class="ui center aligned icon tiny header toc-note">
                                                        <a class="ui take-note-card cursor-pointer" (click)="showNoteEditor=!showNoteEditor">
                                                            <app-popup-editor *ngIf="showNoteEditor" [mode]="'create'"
                                                                [ids]="{contentId:contentId, courseId:courseId}"
                                                                (exitModal)="showNoteEditor=false" (createEventEmitter)="createEventEmitter($event)"></app-popup-editor>
                                                            <img src="{{'assets/images/takenote.png' |  cdnprefixurl}}">
                                                            <span>{{resourceService?.frmelmnts?.lbl?.takenote}}</span>
                                                        </a>
                                                    </h2> -->
                  <!-- </div> -->
                  <!-- <div class="two wide column "></div> -->
                  <div class="six wide column ">
                    <button class="ui blue button right floated fluid toc-right-nav-btn-content" (click)="navigateToContent(nextPlaylistItem)"
                      [disabled]="nextPlaylistItem === undefined">
                      <span class="header">{{resourceService.frmelmnts.btn.next}}</span><br />
                      <span class="font-white description text-ellipsis" title="{{nextPlaylistItem?.title || noContentToPlay}}">{{nextPlaylistItem?.title
                        || noContentToPlay}}</span>
                    </button>
                  </div>
                </div>
              </div>
              <!-- <div class="ui section divider"></div>
                <div class="two wide column"></div>
                <div class="ui grid">
                  <div class="row">
                    <div class="eight wide column">
                      <course-discussions></course-discussions>
                    </div>
                    <div class="four wide column toc-note-content">
                      <app-note-card [ids]="{contentId:contentId, courseId:courseId}" [createNoteData]="createNoteData"></app-note-card>
                    </div>
                  </div>
                </div> -->
            </div>
            <div class='three wide column' *ngIf="!enrolledCourse">
              <div class="rightSideSectionCards ui card instructors-panel">
                <div class="addnotes-panel content">
                  <ul class="instructors-list">
                    <li>
                      <div class="circleimg"><img src="/assets/images/Alan.png" alt=""></div>
                    </li>
                    <li>
                      <div class="circleimg"><img src="/assets/images/Jane.png" alt=""></div>
                    </li>
                    <li>
                      <div class="circleimg"><img src="/assets/images/Matt.png" alt=""></div>
                    </li>
                  </ul>
                  <p>INSTRUCTORS</p>
                  <p class="bluetext">ALAN EDELMAN, JANE HERRIMAN, MATT BAUMAN</p>
                </div>
              </div>
              <app-batch-details *ngIf="courseMentor && courseStatus !== 'Unlisted'" [courseId]="courseId" [batchId]="batchId"
                [enrolledCourse]="enrolledCourse" [courseHierarchy]="courseHierarchy"></app-batch-details>
              <!-- <div *ngIf="enrolledCourse" class="rightSideSectionCards ui card margin-bottom-15 margin-top-15">
                                    <div class="addnotes-panel content">
                                        <span (click)="showNoteEditor=!showNoteEditor" class="cursor-pointer ui blue basic button">
                                            <i class="icon plus"></i>&nbsp;{{resourceService.frmelmnts.lbl.addnote}}
                                            <app-popup-editor *ngIf="showNoteEditor" [mode]="'create'" [ids]="{contentId:contentId, courseId:courseId}" (exitModal)="showNoteEditor=false"
                                                (createEventEmitter)="createEventEmitter($event)"></app-popup-editor>
                                        </span>
                                        <br>
                                        <br> -->
              <!-- </div>
                                    <app-note-card [ids]="{contentId:contentId, courseId:courseId}" [createNoteData]="createNoteData"></app-note-card>
                                </div> -->
              <!-- <div>
                                    <app-carriculum-card *ngIf="curriculum && curriculum.length > 0" [curriculum]="curriculum"></app-carriculum-card>
                                </div> -->
              <div *ngIf="progress === 100" class="margin-bottom-15 margin-top-15">
                <app-course-badge></app-course-badge>
                <br>
              </div>
              <div *ngIf="progress === 100">
                <app-course-benefit [courseId]="courseId" [batchId]="batchId"></app-course-benefit>
              </div>
              <!-- <br> -->
              <!-- <div class="courseupdate">
                                    <b>{{resourceService.frmelmnts.lbl.coursecreatedon}}: {{courseHierarchy.createdOn | dateFormat}}</b>
                                    <br>
                                    <b>{{resourceService.frmelmnts.lbl.updatedon}}: {{courseHierarchy.lastUpdatedOn | dateFormat}}</b>
                                </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="loader">
      <app-loader [data]="loaderMessage"></app-loader>
    </div>
    <div *ngIf="showError">
      <!-- <error-message data="{{toc.error}}" visibility="toc.error.showError"></error-message> -->
    </div>
    <div class="one wide column"></div>
  </div>
</div>
<sui-modal [hidden]="true" [isClosable]="false" id="openNoteBookModal" #modal>
  <div class="content">
    <div class="ui tweleve wide column margin-bottom-20">
      <h2 class="ui center aligned icon header">
        <i class="notched circle loading icon"></i>
        <p>Opening notebook</p>
      </h2>
    </div>
  </div>
</sui-modal>
<router-outlet></router-outlet>