<div class="ui stackable grid courseheader">
  <div class="one wide column"></div>
  <div class="ten wide column P0">
    <div class="pull-left"><a class="ui grey large label">BEGINNER</a> <span class="lgtext MR10">{{courseHierarchy.name}}
        |</span> <span class="smtext">PROGRAMMING</span></div>
    <div class="pull-right smtext"><i class="chevron left icon"></i> MODULE 01 <i class="chevron right icon"></i></div>
  </div>
  <div class="one wide column"></div>
</div>
<div class="ui stackable grid margin-top-20" [appTelemetryStart]="telemetryCourseStart" [appTelemetryEnd]="telemetryCourseEndEvent">
  <div class="one wide column"></div>
  <div class="ten wide column">
    <div *ngIf="!loader">
      <div class="content" [appTelemetryImpression]="telemetryCourseImpression">
        <div class="ui stackable grid">
          <div class="row">
            <div class="nine wide column" *ngIf="!enrolledCourse">
              <div class="ui header">
                <span class="content courseStructureHeading">
                  {{resourceService.frmelmnts.lbl.coursestructure}}
                </span>
              </div>
              <app-collection-tree (contentSelect)="navigateToContent($event)" [nodes]="collectionTreeNodes" [options]="collectionTreeOptions"
                [contentStatus]="contentStatus"></app-collection-tree>
            </div>
            <div class="twelve wide column" style="height: 700px !important;" *ngIf="enrolledCourse">
              <div class="ui button" *ngIf="!sideBarToggle">
                <a class="item right float" (click)="sidebar.toggle()">
                  <i class="sidebar icon"></i>
                </a>
              </div>
              <div class="ui header" *ngIf="sideBarToggle">MODULES</div>
              <sui-sidebar-container>
                <sui-sidebar class="vertical" #sidebar [transition]="push" [isVisible]="true" (isVisibleChange)="sideBarToggle = !sideBarToggle">
                  <a class="item" *ngFor="let child of courseHierarchy.children" (click)="navigateToCollection(child)">
                    {{child.name}}
                  </a>
                  <div class="ui bottom attached demo menu">
                    <a class="item right float" (click)="sidebar.toggle()">
                      <i class="sidebar icon"></i>
                    </a>
                  </div>
                </sui-sidebar>
                <sui-sidebar-sibling [isDimmedWhenVisible]="false">
                  <div class="ui basic segment">
                    <div class="eight wide column" *ngIf="enrolledCourse">
                      <div class="ui grid">
                        <div class="row">
                          <div class="twelve wide column" id="app-player-collection-renderer">
                            <div class="ui card video-view" *ngIf="showExtContentMsg">
                              <div class="ui header">
                                Requested notebook is opening in new tab...
                              </div>
                            </div>
                            <div class="ui grid" *ngIf="!showExtContentMsg && isVideoContent">
                              <div class="twelve wide column" [appTelemetryImpression]="telemetryContentImpression">
                                <youtube-player [videoId]="videoContentId" [width]="'100%'" [height]="'400'"></youtube-player>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="ui row">

                        </div>
                      </div>
                      <!-- <div class="ui section divider"></div>
                            <div class="two wide column"></div>
                            <div class="ui grid">
                              <div class="row">
                                <div class="eight wide column">
                                  <course-discussions></course-discussions>
                                </div>
                                <div class="four wide column toc-note-content">
                                  <app-note-card [ids]="{contentId:contentId, courseId:courseId}" [createNoteData]="createNoteData"></app-note-card>
                                </div>
                              </div>
                            </div> -->
                    </div>
                  </div>
                </sui-sidebar-sibling>
              </sui-sidebar-container>
            </div>

            <!-- <div class="four wide column" *ngIf="enrolledCourse">
              <div class="ui header">
                <span class="content courseStructureHeading">
                  {{resourceService.frmelmnts.lbl.coursestructure}}
                </span>
              </div>
              <app-collection-tree (contentSelect)="navigateToContent($event)" [nodes]="collectionTreeNodes" [options]="collectionTreeOptions"
                [contentStatus]="contentStatus"></app-collection-tree>
            </div> -->
            <div class='three wide column' *ngIf="!enrolledCourse">
              <div class="rightSideSectionCards ui card instructors-panel">
                <div class="addnotes-panel content">
                  <ul class="instructors-list">
                    <li>
                      <div class="circleimg"><img src="/assets/images/Alan.png" alt=""></div>
                    </li>
                    <li>
                      <div class="circleimg"><img src="/assets/images/Jane.png" alt=""></div>
                    </li>
                    <li>
                      <div class="circleimg"><img src="/assets/images/Matt.png" alt=""></div>
                    </li>
                  </ul>
                  <p>INSTRUCTORS</p>
                  <p class="bluetext">ALAN EDELMAN, JANE HERRIMAN, MATT BAUMAN</p>
                </div>
              </div>
              <app-batch-details *ngIf="courseMentor && courseStatus !== 'Unlisted'" [courseId]="courseId" [batchId]="batchId"
                [enrolledCourse]="enrolledCourse" [courseHierarchy]="courseHierarchy"></app-batch-details>
              <!-- <div *ngIf="enrolledCourse" class="rightSideSectionCards ui card margin-bottom-15 margin-top-15">
                                    <div class="addnotes-panel content">
                                        <span (click)="showNoteEditor=!showNoteEditor" class="cursor-pointer ui blue basic button">
                                            <i class="icon plus"></i>&nbsp;{{resourceService.frmelmnts.lbl.addnote}}
                                            <app-popup-editor *ngIf="showNoteEditor" [mode]="'create'" [ids]="{contentId:contentId, courseId:courseId}" (exitModal)="showNoteEditor=false"
                                                (createEventEmitter)="createEventEmitter($event)"></app-popup-editor>
                                        </span>
                                        <br>
                                        <br> -->
              <!-- </div>
                                    <app-note-card [ids]="{contentId:contentId, courseId:courseId}" [createNoteData]="createNoteData"></app-note-card>
                                </div> -->
              <!-- <div>
                                    <app-carriculum-card *ngIf="curriculum && curriculum.length > 0" [curriculum]="curriculum"></app-carriculum-card>
                                </div> -->
              <div *ngIf="progress === 100" class="margin-bottom-15 margin-top-15">
                <app-course-badge></app-course-badge>
                <br>
              </div>
              <div *ngIf="progress === 100">
                <app-course-benefit [courseId]="courseId" [batchId]="batchId"></app-course-benefit>
              </div>
              <!-- <br> -->
              <!-- <div class="courseupdate">
                                    <b>{{resourceService.frmelmnts.lbl.coursecreatedon}}: {{courseHierarchy.createdOn | dateFormat}}</b>
                                    <br>
                                    <b>{{resourceService.frmelmnts.lbl.updatedon}}: {{courseHierarchy.lastUpdatedOn | dateFormat}}</b>
                                </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="loader">
      <app-loader [data]="loaderMessage"></app-loader>
    </div>
    <div *ngIf="showError">
      <!-- <error-message data="{{toc.error}}" visibility="toc.error.showError"></error-message> -->
    </div>
    <div class="one wide column"></div>
  </div>
</div>
<sui-modal [hidden]="true" [isClosable]="false" id="openNoteBookModal" #modal>
  <div class="content">
    <div class="ui tweleve wide column margin-bottom-20">
      <h2 class="ui center aligned icon header">
        <i class="notched circle loading icon"></i>
        <p>Opening notebook</p>
      </h2>
    </div>
  </div>
</sui-modal>
<router-outlet></router-outlet>