<div class="ui stackable grid courseheader" *ngIf="courseHierarchy && selectedModule">
  <div class="one wide column"></div>
  <div class="ten wide column P0">
    <div class="pull-left">
      <a class="ui grey large label">{{courseHierarchy.gradeLevel &&
        courseHierarchy.gradeLevel[0]}}
      </a>
      <span class="lgtext MR10">{{courseHierarchy.name}}</span>
      <span class="smtext">{{courseHierarchy.subject}}</span>
    </div>
    <div class="pull-right smtext">
      <button class="ui icon button" [disabled]="prevPlaylistItem === undefined">
        <i class="chevron left icon" (click)="navigateToCollection(prevPlaylistItem)"></i>
      </button>
      <span>{{selectedModule.name}}</span>
      <button class="ui icon button" [disabled]="nextPlaylistItem === undefined">
        <i class="chevron right icon" (click)="navigateToCollection(nextPlaylistItem)"></i>
      </button>
    </div>
  </div>
  <div class="one wide column"></div>
</div>
<div class="ui stackable grid margin-top-20" [appTelemetryStart]="telemetryCourseStart" [appTelemetryEnd]="telemetryCourseEndEvent">
  <div class="one wide column"></div>
  <div class="ten wide column">
    <div *ngIf="!loader">
      <div class="content" [appTelemetryImpression]="telemetryCourseImpression">
        <div class="ui stackable grid">
          <div class="row">
            <div class="nine wide column" *ngIf="!enrolledCourse">
              <div class="ui header">
                <span class="content courseStructureHeading">
                  {{resourceService.frmelmnts.lbl.coursestructure}}
                </span>
              </div>
              <app-collection-tree (contentSelect)="navigateToContent($event)" [nodes]="collectionTreeNodes" [options]="collectionTreeOptions"
                [contentStatus]="contentStatus"></app-collection-tree>
            </div>
            <div class="twelve wide column" style="height: 700px !important;" *ngIf="enrolledCourse">
              <div class="ui button" *ngIf="!sideBarToggle" (click)="sidebar.toggle()">
                <a class="item right float">
                  <i class="sidebar icon"></i>
                </a>
              </div>
              <div class="ui header" *ngIf="sideBarToggle">MODULES</div>
              <sui-sidebar-container>
                <sui-sidebar class="vertical big" #sidebar [transition]="push" [isVisible]="true" (isVisibleChange)="toggleSidebar()">
                  <a class="item" [ngClass]="{ 'bluetext': selectedModule.identifier === child.identifier }" *ngFor="let child of courseHierarchy.children" (click)="navigateToCollection(child)">
                    {{child.name}}
                  </a>
                  <div class="ui bottom attached demo big menu">
                    <a class="item right float" (click)="sidebar.toggle()">
                      <i class="sidebar icon"></i>
                    </a>
                  </div>
                </sui-sidebar>
                <sui-sidebar-sibling [isDimmedWhenVisible]="false">
                  <div class="ui basic segment">
                    <div class="eight wide column" *ngIf="enrolledCourse">
                      <div class="ui grid" *ngIf="isVideoContent">
                        <div class="row">
                          <div class="twelve wide column" [appTelemetryImpression]="telemetryContentImpression">
                            <youtube-player [videoId]="videoContentId" [width]="'100%'" [height]="'400'"></youtube-player>
                          </div>
                        </div>
                        <div class="row">
                          <div class="seven wide column">
                            <div class="row">
                              <div class="ui large header">{{playerConfig.name}}</div>
                              <div class="ui header">
                                <div *ngIf="playerConfig.description" class="margin-top-10">
                                  <p *ngIf="!readMore" class="courseStructureDesc"> {{ playerConfig.description |
                                    slice:0:200 }}&nbsp;
                                    <span class="ui cardsKnowMore mouse-pointer" *ngIf="playerConfig.description && playerConfig.description.length > 200 && readMore === false"
                                      (click)="readMore = !readMore;">{{resourceService.frmelmnts.lbl.readmore}}</span>
                                  </p>
                                  <p *ngIf="readMore" class="courseStructureDesc"> {{
                                    playerConfig.description}}&nbsp;
                                    <span class="ui cardsKnowMore mouse-pointer" (click)="readMore = false;">{{resourceService.frmelmnts.lbl.readless}}</span>
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <button class="ui blue basic button" *ngIf="selectedModule.tutorial" (click)="open_notebook(selectedModule.tutorial.artifactUrl)">
                                <i class="icon user"></i>
                                Tutorial
                              </button>
                              <button class="ui blue basic button" *ngIf="selectedModule.exercise" (click)="open_notebook(selectedModule.exercise.artifactUrl)">
                                <i class="icon user"></i>
                                Exercise
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </sui-sidebar-sibling>
              </sui-sidebar-container>
            </div>
            <div class='three wide column' *ngIf="!enrolledCourse">
              <div class="rightSideSectionCards ui card instructors-panel">
                <div class="addnotes-panel content">
                  <ul class="instructors-list">
                    <li>
                      <div class="circleimg"><img src="/assets/images/Alan.png" alt=""></div>
                    </li>
                    <li>
                      <div class="circleimg"><img src="/assets/images/Jane.png" alt=""></div>
                    </li>
                    <li>
                      <div class="circleimg"><img src="/assets/images/Matt.png" alt=""></div>
                    </li>
                  </ul>
                  <p>INSTRUCTORS</p>
                  <p class="bluetext">ALAN EDELMAN, JANE HERRIMAN, MATT BAUMAN</p>
                </div>
              </div>
              <app-batch-details *ngIf="courseMentor && courseStatus !== 'Unlisted'" [courseId]="courseId" [batchId]="batchId"
                [enrolledCourse]="enrolledCourse" [courseHierarchy]="courseHierarchy"></app-batch-details>
              <div *ngIf="progress === 100" class="margin-bottom-15 margin-top-15">
                <app-course-badge></app-course-badge>
                <br>
              </div>
              <div *ngIf="progress === 100">
                <app-course-benefit [courseId]="courseId" [batchId]="batchId"></app-course-benefit>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="loader">
      <app-loader [data]="loaderMessage"></app-loader>
    </div>
    <div *ngIf="showError">
    </div>
    <div class="one wide column"></div>
  </div>
</div>
<sui-modal [hidden]="true" [isClosable]="false" id="openNoteBookModal" #modal>
  <div class="content">
    <div class="ui tweleve wide column margin-bottom-20">
      <h2 class="ui center aligned icon header">
        <i class="notched circle loading icon"></i>
        <p>Opening notebook</p>
      </h2>
    </div>
  </div>
</sui-modal>
<router-outlet></router-outlet>