::ng-deep .ui.tiny.progress .bar{
    min-width: 0
}
.ui.grid.progress-bar-margin {
    margin-top: 13px;
} 
.course-header-divider {
    border-right: 0 !important;
    vertical-align: text-bottom !important;
}
.courseStructureHeader {
    background-color: #ffffff !important;
    min-height: 276px;
    margin-bottom: 10px !important;
    border-bottom: 8px solid #88e3ec !important;
    position: relative;
    margin-top: 5px;
    max-height: 300px;
    overflow: hidden;
}
.courseStructureHeaderText {
    font-size: 2.2em;
    font-family: 'sunbirdregularfont';
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: rgba(0,0,0,.2);
    width: 100%;
    margin: 0;
    color: #ffffff;
    max-height: 70px;
    padding-bottom: 38px;
    padding-left: 163px;
    padding-top: 1% !important;
    font-weight: bold;
}
.courseStructureHeader .coursebg {
    display: block;
    width: 100%;
    height: 100%;
}