<div class="ui inverted segment">
  <div class="ui grid">
    <div class="one wide column">
    </div>
    <div class="three wide column">
      <div class="pull-left">
        Facing an issue? Write to us: <a>{{juliaBoxSupportEmail}}</a>
      </div>
    </div>
    <div class="four wide column text-align-center">
      <span>
        Powered by <a target="_blank" href="http://www.sunbird.org">Sunbird</a>
        - an open source initiative of 
        <a target="_blank" href="https://ekstep.org/">EkStep Foundation</a>.
      </span>
    </div>
    <div class="three wide column">
      <div class="ui inverted relaxed horizontal list pull-right">
        <div class="item">
          <a target="_blank" routerLink="/guideline/privacypolicy" routerLinkActive="active">Privacy Policy</a>
        </div>
        <div class="item P0">|</div>
        <div class="item">
          <a target="_blank" routerLink="/guideline/termsofservice" routerLinkActive="active">Terms of Use</a>
        </div>
      </div>
    </div>
    <div class="one wide column">
    </div>
  </div>
</div>