node_modules
dist
coverage
documentation
thirdparty
mochawesome-report
/.tmp
/.sass-cache
/npm-debug.log
.coverrun
/src/app/log



src/app/helpers/jaldhara\.localVariables\.js
src/app/tenant/tn
src/app/tenant/sunbird