.breadcrumb-bg-color {
    background-color: #fff;
  }
.ui.breadcrumb a.breadcrumb-font {
  color: #3449d2;
  font-family: 'robotoregularfont';
  font-size: 0.9375em;
  line-height: 17px;
  }
  .ui.breadcrumb .active.section {
    color: #3449d2;
    font-family: 'robotoboldfont';
    font-size: 0.9375em;
    line-height: 17px;
  }
  .ui.breadcrumb .divider {
    color: #3449d2;
  }
