.ui.secondary.pointing.menu .ui.item.text-upper-case {
    text-transform: uppercase;
} 

.anon-consumption-sec-menu {
    border-bottom: 2px solid rgba(34,36,38,.15);   
}

.ui.grid>.header-height-before-login {
    height: 100px;
    justify-content: center;
    align-items: center;
}
.padding-left-5 {
    padding-left: 5px !important;
}
