<div class="rightSideSectionCards ui card instructors-panel">
  <div class="addnotes-panel content">
    <ul class="instructors-list">
      <li>
        <div class="circleimg"><img src="/assets/images/Alan.png" alt=""></div>
      </li>
      <li>
        <div class="circleimg"><img src="/assets/images/Jane.png" alt=""></div>
      </li>
      <li>
        <div class="circleimg"><img src="/assets/images/Matt.png" alt=""></div>
      </li>
    </ul>
    <p>INSTRUCTORS</p>
    <p class="bluetext">ALAN EDELMAN, JANE HERRIMAN, MATT BAUMAN</p>
  </div>
  <div class="ui bottom attached batchCard button"  (click)="createInstructor()" *ngIf="courseMentor">
    <a>
      <i class="add icon"></i>Add Instructor</a>
  </div>
</div>
