<div class="rightSideSectionCards ui card margin-bottom-10" ng-if="coursePrice.viewType === 'CARD'">
  <div class="content" ng-if="coursePrice.data">
    <div class="header announcementCard-header">Price Detail
    </div>
    <div class="ui middle aligned list margin-top-0">
      <div class="item padding-top-10 padding-bottom-5">
        <div class="right floated content contentMetaDetail">
          <div>{{(coursePrice.data.courseprice | currency : "Rs. " : 0) || 'Not Defined'}}</div>
        </div>
        <div class="content">
          Price
        </div>
      </div>
      <div class="item padding-top-10 padding-bottom-5">
        <div class="right floated content contentMetaDetail">
          <div>{{(coursePrice.data.coursebenefit | currency : "Rs. " : 0) || 'Not Defined'}}</div>
        </div>
        <div class="content">
          Benefit
        </div>
      </div>
      <div class="item padding-top-10 padding-bottom-5">
        <div class="right floated content contentMetaDetail">
          <div>{{coursePrice.data.payment || 'Not Defined'}}</div>
        </div>
        <div class="content ">
          Payment
        </div>
      </div>
    </div>
  </div>
  <div class="ui warning message" ng-if="!coursePrice.data">
    <div class="header">
        Price is not defined for this batch, Please contact admin...
    </div>
  </div>
</div>

<span ng-if="coursePrice.viewType === 'ICON'" ng-click="coursePrice.initializeModal(); coursePrice.getPriceDetail()" class="ui mouse-pointer content-font"
  title="Add Price">
  <i class="rupee sign blue large icon float-ContentRight cursor-pointer"></i>&nbsp;
</span>

<div class="ui small modal" id="coursePriceModal" ng-if="coursePrice.showCoursePriceModal">
  <div class="header">
    <div class="ui grid">
      <div class="eleven wide column">
        <span class="ui header">{{coursePrice.titleMessage}}</span>
      </div>
      <div class="one wide column actions">
        <h5 class="ui basic icon circular button deny">
          <i class="ui remove icon"></i>
        </h5>
      </div>
    </div>
  </div>
  <div class="content">
    <form class="ui form">
      <div class="two fields">
        <div class="required field">
          <label>Price (In Rs.)</label>
          <input type="number" name="course price" placeholder="Course Price" ng-model="coursePrice.data.courseprice">
        </div>
        <div class="required field">
          <label>Benefit (In Rs.)</label>
          <input type="text" name="course benefit" placeholder="Course Benefit" ng-model="coursePrice.data.coursebenefit" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
        </div>
      </div>
      <div class="required fields inline">
        <label for="payment">Payment:</label>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="payment" value='Optional' ng-model="coursePrice.data.payment" required>
            <label>Optional</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="payment" value='Mandatory' ng-model="coursePrice.data.payment" required>
            <label>Mandatory</label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="actions margin-top-20" ng-show="!coursePrice.loader.showLoader">
    <button class="ui primary button " ng-click="coursePrice.saveMetaData(coursePrice.data) " ng-disabled="coursePrice.loader.showLoader || !coursePrice.data.courseprice || !coursePrice.data.coursebenefit || !coursePrice.data.payment">
      {{$root.frmelmnts.btn.submit}}
    </button>

    <div class=" ui segment margin-top-10 " ng-if="coursePrice.loader.showLoader ">
      <app-loader data="{{coursePrice.loader}} "></app-loader>
    </div>
  </div>
</div>